<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="C:\xampp2\htdocs\dashboard\Blumenshop\vendor\autoload.php"

         colors="true"
         verbose="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="phpunittests">
            <directory>C:\xampp2\htdocs\dashboard\Blumenshop\Tests\blumenshoptests\phpunittests</directory>
        </testsuite>
    </testsuites>
</phpunit>